.body {
    height: "100vh"; 
    display: "flex"; 
    flex-direction: "column";
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

a:hover {
    color: grey;
}