.body {
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    background-image: url("https://wallpapers.com/images/hd/4k-ultra-hd-galaxy-violet-clouds-13597ri09s5378hu.jpg");
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    background-color: #2D2E32;
    color: white;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

a:hover {
    color: grey;
}