table {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(70, 130, 180);
    border-radius: 18px;
    overflow: hidden;
    border-collapse: separate; 
    border-spacing: 0
}

th {
    text-align: center;
    padding: 12px;
    background-color: rgb(70, 130, 180);
    color: white;
    font-weight: 600;
    border-bottom: 1px solid rgb(70, 130, 180);
    vertical-align: middle;
    height: 100%;
}

th:first-child {
    border-top-left-radius: 18px;
}

th:last-child {
    border-top-right-radius: 18px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 18px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 18px;
}

td {
    text-align: center;
    padding: 12px;
    color: rgb(70, 130, 180);
    border-bottom: 1px solid rgb(70, 130, 180);
    vertical-align: middle;
}

.actionsCell {
    display: flex;
    justify-content: center;
    gap: 8px;
}
