.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  /* background-color: rgba(63, 170, 241, 0.9); */
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 40px;
}