.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 92vh;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
}

.buttonsContainer {
    display: flex;
    gap: 20px;
}

.tableContainer {
    display: flex;
    justify-content: center;
    width: 90%;
}

.actionsCell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}