div {
    color: rgb(70, 130, 180);
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    gap: 20px;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

.balanceEvolution {
    gap: 15px;
    width: 100%;
    height: auto;
}

.tableWrapper {
    border: 1px solid rgb(70, 130, 180);
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
}