.principalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center;
  gap: 15px;
  height: 92vh;
  background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 80vh;
    width: 45vw;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

input {
    padding: 4px;
    font-size: 15px;
    width: 30vw;
}

label {
    font-size: 25px;
}

.divider {
  width: 1px;
  height: 100%;             
  background-color: black; 
}

h1 {
    font-size: 50px;
}

.containerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}