.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  background-color: rgba(63, 170, 241, 0.6);
  border-radius: 20px;
}

.allFormsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formContainer label {
  color: rgb(70, 130, 180);
  font-weight: 500;
}

.formContainer input,
.formContainer select,
.formContainer textarea {
  width: 100% !important;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(70, 130, 180);;
  color: rgb(70, 130, 180);
}

.formContainer select {
  padding: 12px;
  border-radius: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.radioLabel input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px !important;
  height: 18px;
  border: 2px solid #555;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.radioLabel input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #555;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.15s ease-in-out;
}

.radioLabel input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.radioLabel span {
  line-height: 1;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}