.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.allFormsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

select {
  padding: 15px;
  border-radius: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px; /* distância controlada entre o círculo e o texto */
}

.radioLabel input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.radioLabel input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #555;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.15s ease-in-out;
}

.radioLabel input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.radioLabel span {
  line-height: 1;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}