.principalContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    height: 100vh;
    text-align: center;
    background-image: url("https://wallpapers.com/images/hd/4k-ultra-hd-galaxy-violet-clouds-13597ri09s5378hu.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.loginCard {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 15px;
    height: 80vh;
    width: 45vw;
    border-radius: 12px;
}

input {
    padding: 4px;
    font-size: 15px;
    width: 30vw;
}

label {
    font-size: 25px;
}

h1 {
    font-size: 50px;
}

.container-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}