.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 92vh;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 50%;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.imageContainer img {
    width: 250px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}