.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 100%;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.imageContainer img {
    width: 250px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}